version: '3.8'

services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: event-campus-api
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - ../.env
    volumes:
      - ../storage:/root/storage
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
